h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
a:hover,
#header .mainheader .logo .site-title a,
#header .site-menu .menu-mega .sf-mega ul li a:hover,
.team-member .team-member-info .desc,
.callout.border .callout-content .head,
.heading-title strong,
.heading-title span,
.heading-second .heading::first-letter,
.portfolio-item .portfolio-mark .portfolio-mark-content .portfolio-mark-icon,
.recent-comment ul li a.title:hover,
.affix-widget ul li.active a,
.hoverbox .hover-mark-content-inner .heading-title,
.jobboard li .jobtype,
.option-list ul li li .selected,
.product-review .star-rating,
.entry-relate .relate-post h4 a:hover,
#header .site-menu li.active > a,
#header .site-menu li.sfHover > a,
#header .site-menu li a:hover,
#header .site-menu li.current-menu-item > a,
.quotes-post-info a:hover,
.blog-item.quote-post .quote-post-info a:hover,
.iconbox .icon,
.timeline .timelinenav li.active a{
	color: #9b59b6
}
.header-icon-search,
.sliderbox .heading,
.border .heading-title:after,
.portfolio-item .portfolio-mark .portfolio-mark-content .portfolio-mark-inner,
.portfolio-sub-info .portfolio-sub-info-list,
.portfolio-short-filter .portfolio-filter-nav li a.selected,
.widget.tags-cloud a:hover,
.iconsmall .icon,
.pricingitem.feature .pricing-detail,
.iconbox.center .iconbox-heading:after,
.iconbox.solid .icon,
.accordion.solid .accordion-title .icon,
.tabs.main .tabNavigation li.active a,
.tabs.left .tabNavigation li.active a,
.tabs.right .tabNavigation li.active a,
.callout,
.carouselbox .nav a:hover,
.iconpage li:hover,
.blog-item .action-link,
.entry-item .entry-boxinfo .entry-icon,
.pagenavi ul li a:hover,
.pagenavi ul li span,
.sidebar-content .widget .widget-title h4 span,
.option-list ul li li .selected span,
#product-detail .product-amount span,
.flex-direction-nav li a:hover,
.flex-control-nav li a.flex-active,
.iconlist li.active a,
.tabs.left.second .tabNavigation li.active a,
.tp-caption.heading_icon:before,
.largeicon.active a{
  background-color: #9b59b6
}
.timeline .timelinenav li a:before,
.timeline .timelinenav li.active a:before,
.iconlist li.active a,
.tabs.left.second .tabNavigation li.active a,
.largeicon.active a{
	border-color: #9b59b6;
}
#header .site-menu li.active > a,
#header .site-menu li.sfHover > a,
#header .site-menu li a:hover,
#header .site-menu li.current-menu-item > a,
#header.no-bg .breacrumb,
.tabs.main .tabNavigation li.active a:after,
.tabs.main.border .tabNavigation li.active a,
#header,
.entry-meta,
.entry-author,
.option-list ul span.title{
	border-top-color: #9b59b6;
}
.tabs.left .tabNavigation li.active a:after{
	border-left-color:; #9b59b6;
}
.team-member,
.quotes-post-info a:hover,
.blog-item.quote-post .quote-post-info a:hover{
	border-bottom-color: #9b59b6
}